
/* Color 1 BASE  */

nav, 
footer, 
button, 
ul#menu, 
ul#menu li, 
.botonEnlace
{
    background: cadetblue;
}

ul#listaProcesos li a:hover {
    border-left-color: cadetblue;
}

#pagination .active, 
#pagination a:hover, 
.botonEnlace2
{
    border-color: cadetblue;
}

#pagination a:link, 
#pagination a:visited,
    .tableB th, 
    .tableB tfoot tr td
    , .botonEnlace2
{
    color: cadetblue;
}

h1, h2,  h3, h4, h5, h6{
    color: cadetblue;
}

.tableC thead tr th
{
    border-color: cadetblue;
}

.tableD tfoot tr  td,
form input:focus,
from select:focus
{
    border-bottom-color: cadetblue ;
}







.botonEnlace2:hover
{
    background-color:cadetblue;
}


.contenedorTabs ul li a.select,
.contenedorTabs ul li a.select:active {
    color: cadetblue;
}




/*Color 2 color de base convinada */

.tableB th,
.tableB tfoot tr td, 
.tableB tbody,
.fondo_claro,
.tableE tfoot tr td,
.tableA tfoot tr td
{

    border-color: #26696C;
}

.tableA th,
.tableA thead
{
    background-color: #26696C;
}

/*  cuadricula de busqueda  */
.tbusqueda tbody,   .tbusqueda th{
    border-bottom-color: #26696C;
    border-top-color: #26696C;
}

.tbusqueda th, 
.tableD th,
.tableE thead tr th 
{
      color: #26696C;
}

button:hover, 
ul#menu li a:hover, 
.botonEnlace:hover {
    background-color: #26696C;
}


/*
.tableA thead {    
    border: 0.1rem solid #D46A6A;
}
*/

/*
.tableA tbody tr {    
    border-left: 0.1rem solid blue;
    border-right: 0.1rem solid blue;
}
*/

/*
.tableA tbody tr {    
    border-bottom: 0.1rem solid #D46A6A;
}
   */ 
    




/*Color 3  color de base suave*/

.tableB tbody tr,
.tableC thead tr th
{
  background: #E2F9FB;
  background: #EEF9FB;
  background: #e4fdff;
  background: #eeffed;
  background: #e3f9e9;
  
}

.tableA tbody tr, 

#pagination .active , 
.campoRelacionado,
.tbusqueda tr,
/*.botonEnlace2,*/
output
{
  background: #e3f9e9;
}

#pagination a {
    border-color: #e3f9e9;
}

.boton_svg:hover
{  
    background-color: #e3f9e9;     
}



/*
.tableA tbody tr 
{
    border-left: 0.1rem solid #FFECEC;
    border-right: 0.1rem solid #FFECEC;
}
*/


    










/*Color 5  enfoque */
.Enfoque
{
    background-color:#FFF4D3;
    background-color:#FFC797;
    background-color:#FFDBBC;
    background-color:#FFEDDE;

}

ul#listaProcesos li a:hover {
    background-color:#FFEDDE;
}

.tableA tbody tr:hover,
.tableB tbody tr:hover,
.tableD tbody tr:hover
{
    background:#FFEDDE;    
}













/*Color de texto*/
/*letras claras*/
button, ul#menu li a, .botonEnlace {
    color:white;
}



/*letras oscuras*/



ul#listaProcesos li h4 {
    color: DimGray;
    color: #666666;
    color: DimGray;
}

.tableA, .tableB, .tableD
.botonEnlace2
{
    color: DimGray;    
}







/* color de la linea de abajo en menu*/
li a:hover {
      /*  border-bottom: 4px solid MediumSeaGreen;*/
}




/*especiales */

.busqueda input:focus {
    border: 1px solid;
    border-color: tan;
}

.busqueda label {
    color: DimGray;
    color: #666666;
}


.error {
    color:red;
}

.info{
    color:blue;
}



/* White*/
.tableA th
{
    color: white;
}

.tableB th, .tableB tfoot tr td  {
    background:white ;
}


button:hover, 
ul#menu li a:hover, 
.botonEnlace:hover
, .botonEnlace2:hover

{
    color:white;
}


/*  capas  */
/*  standard     opacity: 0.3;     opacity: 1;   */
#capa_oscura, 
#capa_oscura_segunda,
#capa_oscura3,
.fondo_oscuro
{
     background-color: rgba(47, 79, 79, .3);
}




 #capa_busqueda, 
 #capa_clara_primera, 
 #capa_clara_segunda, 
 #capa_clara,
 #capa_clara3,
 .fondo_claro,
 botonEnlace2
{
 background-color: white;
}







/*grises*/

form input,
form select
{    
    border-bottom-color: LightGrey;
}




form output {    
    border-bottom: solid 1px LightGrey;    
}



fieldset{
    border-color: silver;
}





/*pruebas*/
form label {
    color: #616161;
}



.contenedorTabs ul li a,
.contenedorTabs ul li a:active {
    color: DimGray;
}



.contenedorTabs ul li a.select,
.contenedorTabs ul li a.select:active {
    border-color: dimgray;
}


.contenedorTabs ul li a,
.contenedorTabs ul li a:active {
    border-color: DimGray;
}




form input:disabled,
form select:disabled
{
    background-color: #F0F0F0 ; 
    border-bottom-color: #D8D8D8 ;
}
